.categroies{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.categroies_heading{
    font-size: 34px;
    font-weight: 600;
}

.categroies_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.categroies_card1, .categroies_card2, .categroies_card3, .categroies_card4, .categroies_card5{
    width: 350px;
    height: 100px;
    margin: 1rem;
    cursor: pointer;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    box-shadow: 0.1rem 0.1rem 0.1rem rgb(143, 155, 188);
}
.categroies_card1{
    background-color: #EAF3FA;
}

.categroies_card2{
    background-color: #FFE5E6;
}

.categroies_card3{
    background-color: #B9E1EF;
}

.categroies_card4{
    background-color: #B3DFAB;
}

.categroies_card5{
    background-color: #97A3E1;
}

.categroies_card1, .categroies_card2, .categroies_card3, .categroies_card4, .categroies_card5{
    box-shadow: 0.6rem 0.6rem 0.5rem rgb(143, 155, 188);
}